<!doctype html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title  ng-controller="myCtrl">{{firstName+' '+lastName}}</title>
<script src="angular.min.js"></script>
</head>

<body>
<!--
<div ng-init="names=['Nazir','Asif','Arif'];">
 <ul>
  <li ng-repeat="x in names">
   {{x}}
  </li>
 </ul>
</div> -->


<div ng-init="names=[{name:'Nazir',country:'India'},{name:'Ahmed',country:'Saudi'}]">
  
  
  <table width="200" border="1" cellspacing="0" cellpadding="3">
  <tbody>
    <tr ng-repeat="x in names">
      <td>{{x.name}}</td>
      <td>{{x.country}}</td>
    </tr>
  </tbody>
</table>

  
</div>

<script>

var app = angular.module('myApp',[]);

app.controller('myCtrl',function($scope){
	$scope.firstName = 'Hello';
	$scope.lastName =  'World';
});


</script>


</body>
</html>
