  <!DOCTYPE html>
  <html ng-app>
  <head>
   <title>AngularJs Insert Data to database</title>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">          </script>
   <style>
      #dv1{
         border:1px solid #DBDCE9; margin-left:auto;
         margin-right:auto;width:520px;
         border-radius:7px;padding: 25px;
       }
   </style>
</head>
<body>
   <div id='dv1'>
      <form ng-controller="FrmController">
         <h2>Sigup Form Using AngularJS</h2>
         <div>
            <label>Name</label> 
            <input type="text" ng-model="username" placeholder="User Name" style='margin-left: 22px;'> 
         </div>
         <div>
            <label>Email</label>
            <input type="email" ng-model="useremail" placeholder="Email" style='margin-left: 22px;'> 
         </div>
         <div>
              <label>Password</label>
              <input type="password" ng-model="userpassword" placeholder="Password">
         </div>
         <button ng-click='SignUp();' style='margin-left: 63px;margin-top:10px'>SignUp</button>
       </form>
  </div>
<script type="text/javascript">
    function FrmController($scope, $http) {
        $scope.errors = [];
        $scope.msgs = [];
		$scope.SignUp = function() {
		$scope.errors.splice(0, $scope.errors.length); 
        $scope.msgs.splice(0, $scope.msgs.length);
		$http.post('insertdb.php', {'uname': $scope.username, 'pswd': $scope.userpassword, 'email': $scope.useremail}
                    ).success(function(data, status, headers, config) 
                       {
		          if (data.msg != '')
                          {
                               $scope.msgs.push(data.msg);
                          }
                          else
                          {
                              $scope.errors.push(data.error);
                          } 
                      }).error(function(data, status) {
                        $scope.errors.push(status);
                    });
                }
            }
        </script>
    </body>
 </html>         